@page
@model StudentManagementSystem.Pages.ClassSubjects.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ClassSubject</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassSubject.NumberOfStudents)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassSubject.NumberOfStudents)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassSubject.Class)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassSubject.Class.ClassId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassSubject.Lecture)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassSubject.Lecture.LectureId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassSubject.RoomNavigation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassSubject.RoomNavigation.RoomId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ClassSubject.Subject)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ClassSubject.Subject.SubjectId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index">Back to List</a>
</div>
