@page
@model StudentManagementSystem.Pages.ClassSubjects.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <div class="row bg-white p-2">
        <div class="col-sm-12">
            <div class="white-box">
                <h4>Student In Class</h4>
                <hr />
                <div class="table-responsive" >
                    <table id="userTable" data-toggle="table" data-pagination="true" class="table text-nowrap">
                        <thead>
                            <tr>
                                <th data-sortable="true">
                                    Student Id
                                </th>
                                <th data-sortable="true">
                                    Student Name
                                </th>
                                <th data-sortable="true">
                                    Email
                                </th>
                                <th data-sortable="true" >
                                    Semester
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var student in Model.Students)
                            {
                                <tr>
                                    <td>@student.StudentId</td>
                                    <td>@student.StudentName</td>
                                    <td>@student.StudentEmail</td>
                                    <td>@student.Semester</td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-page="./Index" asp-route-classId="@ViewBag.ClassId">Back to List</a>
</div>
<script>
    $(document).ready(function () {
        $('#userTable').bootstrapTable();

    });
</script>